@use 'variables.module' as *;

#container {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

#progress {
  font: $heading-font;
  font-size: 1.2rem;
}

.answer,
.next {
  width: 100%;
}

.answer {
  margin-top: 1rem;
  background-color: #ebecee;
  color: #000;
}

.next {
  visibility: hidden;
  margin-top: 3rem;
}

#select {
  color: #ebecee;
  background-color: #000;
}

.label {
  font-weight: bold;
}

.input {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  padding: 10px 0;
  line-height: 1.6em;
  font: $body-bold-font;
  background-color: #0000;
}
