#container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 1rem;
  }
}

.answer {
  margin-top: 1rem;
  background-color: #ebecee;
  color: #000;
}

#select {
  color: #ebecee;
  background-color: #000;
}

.next {
  margin-top: 3rem;
}
